<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key><string>R Painter</string>
	<key>CFBundleDisplayName</key><string>R Painter</string>
	<key>CFBundleExecutable</key><string>RPainter</string>
	<key>CFBundleIdentifier</key><string>app.rpainter.desktop</string>
	<key>CFBundleVersion</key><string>1.0.0</string>
	<key>CFBundleShortVersionString</key><string>1.0.0</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleIconFile</key><string>r-painter</string>
	<key>NSHighResolutionCapable</key><true/>
	<key>NSPrincipalClass</key><string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key><string>R Painter Project</string>
			<key>CFBundleTypeExtensions</key><array><string>rpaint</string></array>
			<key>CFBundleTypeRole</key><string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key><string>Image</string>
			<key>LSItemContentTypes</key><array><string>public.image</string></array>
			<key>CFBundleTypeRole</key><string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
